<?xml version="1.0"?>
<config>
    <modules>
        <Makingware_OrderAdjuster>
            <version>0.1.0</version>
        </Makingware_OrderAdjuster>
    </modules>
    <global>
        <resources>
            <makingware_orderadjuster_setup>
                <setup>
                    <module>Makingware_OrderAdjuster</module>
                </setup>
            </makingware_orderadjuster_setup>
        </resources>
        <models>
        	<makingware_orderadjuster>
          		<class>Makingware_OrderAdjuster_Model</class>
          		<resourceModel>makingware_orderadjuster_mysql4</resourceModel>
            </makingware_orderadjuster>
            <makingware_orderadjuster_mysql4>
                <class>Makingware_OrderAdjuster_Model_Mysql4</class>
                <entities>
                    <adjuster><table>order_adjuster</table></adjuster>
                </entities>
            </makingware_orderadjuster_mysql4>
            <reports_mysql4>
            	<rewrite>
            		<order_collection>Makingware_OrderAdjuster_Model_Mysql4_Reports_Order_Collection</order_collection>
            	</rewrite>
            </reports_mysql4>
        </models>
        <blocks>
        	<makingware_orderadjuster_adminhtml>
        		<class>Makingware_OrderAdjuster_Block_Adminhtml</class>
        	</makingware_orderadjuster_adminhtml>
        	<makingware_orderadjuster>
          		<class>Makingware_OrderAdjuster_Block</class>
            </makingware_orderadjuster>
        </blocks>
        <helpers>
            <makingware_orderadjuster>
          		<class>Makingware_OrderAdjuster_Helper</class>
            </makingware_orderadjuster>
        </helpers>
        <events>
        	<sales_order_creditmemo_refund>
        		<observers>
                    <makingware_orderadjuster>
                        <type>singleton</type>
                        <class>Makingware_OrderAdjuster_Model_Observer</class>
                        <method>resetAdjusterAmount</method>
                    </makingware_orderadjuster>
        		</observers>
            </sales_order_creditmemo_refund>
        </events>
        <sales>
        	<order_invoice>
				<totals>
					<orderadjuster>
						<class>makingware_orderadjuster/invoice_total_adjuster</class>
					</orderadjuster>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<orderadjuster>
						<class>makingware_orderadjuster/creditmemo_total_adjuster</class>
					</orderadjuster>
				</totals>
			</order_creditmemo>
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Makingware_OrderAdjuster before="Mage_Adminhtml">Makingware_OrderAdjuster_Adminhtml</Makingware_OrderAdjuster>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
			<updates>
				<makingware_orderadjuster>
					<file>makingware_orderadjuster.xml</file>
				</makingware_orderadjuster>
			</updates>
		</layout>
        <translate>
            <modules>
                <Makingware_OrderAdjuster>
                    <files>
                        <default>Makingware_OrderAdjuster.csv</default>
                    </files>
                </Makingware_OrderAdjuster>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
    	<layout>
			<updates>
				<makingware_orderadjuster>
					<file>makingware_orderadjuster.xml</file>
				</makingware_orderadjuster>
			</updates>
		</layout>
        <translate>
            <modules>
                <Makingware_OrderAdjuster>
                    <files>
                        <default>Makingware_OrderAdjuster.csv</default>
                    </files>
                </Makingware_OrderAdjuster>
            </modules>
        </translate>
    </frontend>
</config>