<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_EnhancedProductManager>
			<version>1.0</version>
		</Makingware_EnhancedProductManager>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<enhancedproductmanager before="Mage_Adminhtml">Makingware_EnhancedProductManager_Adminhtml</enhancedproductmanager>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
        <resources>
            <enhancedproductmanager_setup>
                <setup>
                    <module>Makingware_EnhancedProductManager</module>
                </setup>
            </enhancedproductmanager_setup>
        </resources>
		<models>
			<catalog>
				<rewrite>
					<product>Makingware_EnhancedProductManager_Model_Product</product>
				</rewrite>
			</catalog>
		</models>
		<blocks>
			<makingware_enhancedproductmanager>
				<class>Makingware_EnhancedProductManager_Block</class>
			</makingware_enhancedproductmanager>
		</blocks>
		<helpers>
			<makingware_enhancedproductmanager>
				<class>Makingware_EnhancedProductManager_Helper</class>
			</makingware_enhancedproductmanager>
		</helpers>
		<blocks>
			<adminhtml>
				<rewrite>
					<widget_grid_column>Makingware_EnhancedProductManager_Block_Widget_Grid_Column</widget_grid_column>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<makingware_enhancedproductmanager>
					<file>makingware_enhancedproductmanager.xml</file>
				</makingware_enhancedproductmanager>
			</updates>
		</layout>
		<menu>
			<catalog module="makingware_enhancedproductmanager">
				<children>
					<products module="makingware_enhancedproductmanager"
						translate="title">
						<title>Manage Products*</title>
						<sort_order>0</sort_order>
						<action>adminhtml/catalog_product</action>
					</products>
				</children>
			</catalog>
		</menu>
	</adminhtml>

	<default>
		<makingware_enhancedproductmanager>
			<general>
				<isenabled>1</isenabled>
			</general>
			<columns>
				<showcolumns>id,name,type_id,attribute_set_id,sku,price,qty,visibility,status,websites,thumbnail,total_sales</showcolumns>
				<truncatelongtextafter>60</truncatelongtextafter>
			</columns>
			<images>
				<showurl>0</showurl>
				<showbydefault>1</showbydefault>
				<width>75</width>
				<height>75</height>
			</images>
			<defaults>
				<limit>20</limit>
				<page>1</page>
				<sort>id</sort>
				<dir>desc</dir>
			</defaults>
		</makingware_enhancedproductmanager>
	</default>

	<adminhtml>
		<translate>
			<modules>
				<Makingware_EnhancedProductManager>
					<files>
						<default>Makingware_EnhancedProductManager.csv</default>
					</files>
				</Makingware_EnhancedProductManager>
			</modules>
		</translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<catalog>
							<children>
								<makingware_enhancedproductmanager>
									<title>Enhanced Product Grid</title>
								</makingware_enhancedproductmanager>
							</children>
						</catalog>
						<system>
							<children>
								<config>
									<children>
										<makingware_enhancedproductmanager>
											<title>Enhanced Grid Config</title>
										</makingware_enhancedproductmanager>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>