html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-size:100%;}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse; border-spacing:0}

body, html{ background:#FFF; color: #6C6C6C; font:12px/21px Arial, Helvetica, sans-serif; text-align:left}



/*全局设置*/
a,a:link{text-decoration: none; color: #666}
a:hover{color: #D4105A; text-decoration: underline}

/* 通用 */
.bfR{float:right !important}
.bfL{float:left}
.del{float:right; font-weight:normal}
.gray12{color:#808080; font-size:12px;}
.a-left { text-align:left !important; }
.a-center { text-align:center !important; }
.a-right { text-align:right !important; }
.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }
.icon{display:inline-block; display:-moz-inline-stack; *zoom:1;*display:inline;vertical-align:middle; margin-right:5px; font-size:0;  }

/*布局*/
/*layout布局*/
.container {width: 960px; margin: 0 auto}
.col-left,.col-sub{float:left; width:190px}
.col-main{float: right; width: 790px}
.col2{padding: 0 0 10px 0}
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
#main .container{padding: 10px 0}

/* Table */
table{ border-collapse:separate; margin:0; padding:0; border-color:#FFF; width:100%; border-radius:5px}
table th { font-weight:bold; letter-spacing:1px; }
.table td ,.table th{font-size:12px;  padding:2px 10px; text-align:center}
.table tr{}
table img{vertical-align: middle;}
.data-table td ,.data-table th{border:1px solid #ddd; border-right:none; font-size:12px;  padding:8px 10px; text-align:center}
.data-table tr{border-right:1px solid #ddd}
th {font-weight:bold; letter-spacing:1px; padding:5px 0;}
.data-table1 { border-collapse:collapse; margin:0; padding:0; border:1px solid #ddd ; width:100% }

.data-table1 th, .data-table1 td { padding:5px; text-align:center; border:1px solid #ddd; border-right:none}
.data-table1 th { background:#e3e3e3; padding:10px 0 }


/* Forms */
form { display:inline; }
fieldset { border:0; }
legend { display:none; }
address { font-style:normal }
textarea, button { font:12px/15px Arial, Helvetica, sans-serif; vertical-align:middle; color:#2f2f2f; }

/* 按钮*/
button.button{float: left}
.btn_strong,button.button,.inputbutton  { display:inline-block; height:24px; padding:0 20px; font:bold 12px/24px Arial; line-height:26px\9; overflow:hidden;*display:inline; *zoom:1; cursor:pointer; background: #2372cf; /* Old browsers */ background: -moz-linear-gradient(top, #2372cf 0%, #3064af 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2372cf), color-stop(100%, #3064af)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #2372cf 0%, #3064af 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #2372cf 0%, #3064af 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #2372cf 0%, #3064af 100%); /* IE10+ */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2372cf', endColorstr='#3064af', GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #2372cf 0%, #3064af 100%); /* W3C */border: none; color: #FFF; cursor: pointer }

.btn_common{ display:inline-block; height:22px; padding:0 18px; border:1px solid #CDCDCD; font:normal 12px/22px Arial; line-height:24px\9; overflow:hidden; _display:inline; _zoom:1; cursor:pointer; background: #fefefe; /* Old browsers */ background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f1f1f1)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* IE10+ */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F1F1F1', GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* W3C */cursor: pointer }

a.btn_strong,a.btn_strong:link,a.btn_strong:visited { color:#FFF; }
a.btn_strong:hover { color:#FFF; text-decoration:none; }
a.btn_common:link,
 a.btn_common:visited { color:#333; }
a.btn_common:hover { color:#333; text-decoration:none; }
.btn_strong_big { height:36px; font:bold 16px/36px "\5FAE\8F6F\96C5\9ED1", Arial; }
.btn_common_big { height:34px; font:bold 16px/34px "\5FAE\8F6F\96C5\9ED1", Arial; }


.input-text{background: url(../images/bg-input.gif) repeat-x 0 0; padding:3px 0 0 4px; height: 17px; border: 1px solid #B5B8C8; }
.form_list li.fields{ padding-left: 9em; height:35px}
.form_list .label-like{float:left; margin-left: -9em;  width: 8.5em; text-align: right;}
.form_list .input-box{}
.form_list li.fields .input-text{width: 280px}
.prompt-error{color: red}
.input-text:focus{outline: 2px solid #7fcaf1}
.input-text.error{border-color: red}

.qty{width: 30px}

/*breadcrumbs*/
.breadcrumbs{padding:0 0 5px 0 }
.breadcrumbs li{display: inline;}
.breadcrumbs li.cms_page{padding: 0; margin: 0; border: none; font-weight:normal !important;}

/*分类页面=============================================================*/

/*默认block样式*/
.block{border: 1px solid #D7D7D7; margin-bottom:10px; }
.block-title{padding: 8px 12px; font-size: 14px; color: #333; background: #EBEBEB; /* old browsers */ background: -moz-linear-gradient(top, #EBEBEB 0%, #F8F8F8 41%, #ffffff 100%); /* firefox */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBEBEB), color-stop(41%, #F8F8F8), color-stop(100%, #FFF)); /* webkit */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEBEB', endColorstr='#ffffff', GradientType=0 ); /* ie */ border:1px solid #fff;}
.block-content{ padding: 0 12px;}




/*分类内容*/
.category-title{padding: 8px 12px 0; font-weight: bold;; font-size: 14px;color: #333}
.category-description{padding:5px 0 20px}
.catelogslist{background:#F3F3F3}
.catelogslist .block-title{background:#F3F3F3; border: none}

.catelogslist .block-content div{ padding:0 5px 5px 10px; zoom: 1; border-bottom: 1px #D7D7D7 dotted; }
.catelogslist li a{color: #545454}
.catelogslist li a:hover{color: #e95d98}
.catelogslist div h6{padding: 7px 0px 4px 5px; font-weight: bold; }
.catelogslist li{padding-left:8px; margin-left: 10px; background: url(../images/bnt.png) 0 -180px;}

/*筛选*/
.keycount{border:1px solid #C4D8EA; padding:0 10px; color: #333}
.keycount_title{border-bottom: 1px solid #e4e4e4; padding-bottom: 5px}
.keycount dd{ border-top:1px dotted #ccc; margin-top: -1px; padding:7px 0}
.keycount dd .ttitle ,dd .sel_title{width: 85px; padding-right: 9px; color: black; text-align: right; white-space: nowrap; float: left}
.keycount dd ul{float: left; width:673px}
.keycount dd li{display: inline-block; zoom:1; *display: inline; height: 20px;white-space: nowrap; padding-bottom:3px; margin-right: 15px; overflow: hidden; color: #999}
.keycount dd a{ color: #085C9B }
.keycount dd a:hover{color: #D4105A;}
.keycount .currently .btn-remove{color: #FFF; background:#1859A5; text-decoration: none; }
.keycount .currently .btn-remove{background:#1859A5 url(../images/catelog_tit_bg.gif) repeat-x;}
/*toolbar工具栏*/
.toolbar {height:23px; line-height:23px; margin:0 0 15px 0; padding:7px 10px; border-top: 2px solid #4D4D4D; border-bottom: 1px solid #D8D8D8; background: #f2f4f6 }

.view-mode{position:relative; width:80px; float: left}
.view-mode label{float:left;display:none;padding:2px 5px;color:#666;font-weight:bold;font-size:x-small;line-height:20px}
.view-mode a{float:left;width:20px;height:20px;margin:2px 5px;text-decoration:none;text-decoration:none;cursor:default; text-indent: -9999px; background: url(../images/srpIconsViewMode.png) no-repeat}
.view-mode a.list{background-position:0 -1px;cursor:pointer}
.view-mode a.list:hover{background-position:0 -23px}
.view-mode a.list.active{background-position:0 -45px ; cursor:default}
.view-mode a.grid{cursor:pointer; background-position:-23px -0px}
.view-mode a.grid:hover{background-position:-23px -23px}
.view-mode a.grid.active{background-position:-23px -45px;cursor:default}


.sorter {float: left}
.sorter .title,.sortlist{float: left;}
.sortlist li{float: left; padding: 0 20px 0 5px; height: 23px; line-height: 23px; margin-right: 3px;  text-align: center; background: #FFF url(../images/bnt.png) no-repeat right -65px;}
.sortlist li a{color: #333}
.sortlist li a:hover{text-decoration: none}
.sortlist li.on{background-color: #006837; background-position: right -88px }
.sortlist li.on a{color: #FFF}

.pager{float: right;}
.pages{float: left;}
.pages li{float: left}

.toolbar-bottom{clear: both;}
.toolbar-bottom .toolbar{ background: none; border: none; height: 26px; line-height: 26px;}
.toolbar-bottom .sorter, .pages, .toolbar-bottom .view-mode{display: none}
.toolbar-bottom .pager{float: none;}
.toolbar-bottom .pages {display: block;}

.pages{ float:right;}
.pages .current, .pages a{ background:#f8f8f8; border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px; border-top-left-radius: 2px 2px; border-top-right-radius: 2px 2px;
    display: inline-block; float: left;  margin: 2px; min-width: 28px;
    padding:0 3px; text-align:center; text-decoration:none ;*display:block; zoom:1}
.pages a:hover { -webkit-box-shadow: #DDD 1px 1px 1px; background:#06c; color: white; text-decoration: none}
.pages .current { -webkit-box-shadow: #DDD 1px 1px 1px; background: #eee; font-weight: bold; }

.my-account .pages{display: block;}
.my-account .pager{line-height: 28px; float: none; padding: 10px 0}
.my-account .limiter{float: right; padding-left: 15px; }

/*产品展示*/

.product-name a{line-height: 18px;}

.products-grid{}
.products-grid a:hover{text-decoration: underline}
.products-grid dl{position: relative; z-index: 1; width: 172px; padding: 10px 0 20px 15px;
    float:left; line-height: 18px; zoom: 1; _height: 350px; letter-spacing: 0; float: left}
.products-grid dl.first {margin-left: 7px}
.products-grid dl .pic a{ display:block; padding: 1px;  vertical-align: top; margin-bottom: 5px; height: 160px; width: 160px;}
.products-grid dl .pic a:hover{}
.price-box .price,.total .price{font-weight: bold; color: #e50404}
.old-price .price,.product_info_list li .old-price .price{text-decoration: line-through; color: #999; font-weight: normal;font-size: 12px !important;}

.products-grid .product-name{margin-bottom: 7px}
/*颜色=====================================*/
.products-grid .showColor li{ display: inline-block; padding-top:8px; *display:inline; *zoom:1; float: left; margin-right: 5px }
.products-grid .showColor li a{display: inline-block; *display:inline; *zoom:1; height: 15px; width: 15px; overflow: hidden; border: 1px solid #e4e4e4}


.products-list{}
.products-list .item{border-bottom: 1px solid #eee; padding: 15px 0 ; }
.products-list .pic{float: left}
.products-list .product-shop{margin: 0 135px 0 135px; }
.products-list .product-name{font-size: 14px; font-weight: bold;}
.products-list .cart{float: right;}
.old-price .price{}
.products-list .cart .price-box .price{font-size: 14px;}
.config-select li{float: left; margin-right: 5px; position: relative;  padding:2px; cursor: pointer}
.config-select li div{float: left}
.config-select .selected {position: absolute; display: none; background: url(../images/iconSelected.gif) no-repeat 0 0; height: 9px; width: 9px; right: 0; bottom: 0; overflow: hidden; }
.config-select li .colorbox,.showSize li .sizebox{ border: 1px solid #999; background: #FFF; line-height:30px;}
.config-select li .colorbox span{width: 30px; height:30px; border:1px solid #e1e1e1; background:#FFF; float: left; overflow: hidden;}
.config-select li .colorbox img{vertical-align: middle;}
.config-select li .colorbox em{font-style: normal; padding:0 3px; float: left}


.config-select li.colorDefault .selected,.config-select li.sizeDefault .selected{display: block;}
.config-select li.colorDefault .colorbox,.config-select li.sizeDefault .sizebox{border-color: red}
.config-select li.sizeDefault.disabledSize{background: #999}
.config-select li.sizeDefault.disabledSize .selected{display: none}
.config-select li.sizeDefault.disabledSize .sizebox{border-color:#999; }
.showSize li .sizebox span{height: 23px; line-height: 23px; width: 30px; display: block; text-align: center; font-weight: bold;}
.config-select li.disabledSize{background: #eee; color: #C4C4C4}
.config-select li.colorDefault,.config-select li.sizeDefault{background: red}

.btn-cart{}
.products-grid dl .wrap_btn{padding-top: 5px}

/*产品详细页============================================================================================*/
.catalog-product-view .breadcrumbs{ border-bottom: 1px solid #e4e4e4; margin-bottom: 15px; color: #868686}
.product-view{padding: 0 0 20px 0}
.product-essential{margin-bottom:15px}
.product-essential .product-shop{float: right; width: 530px}
.product-essential .product-shop h1{font-size: 16px; color: #333; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #e1e1e1}
.product-essential .product-shop h1 em{font-style: normal; color: #red; padding-left: 15px}
.product_info_list li{}
.product_info_list li .price{font-size: 18px}
.product_info_list li.item{margin-bottom: 8px}
.product_info_list li.short-description{border-top: 1px solid #e1e1e1; padding-top:8px}
.product_info_list li a{text-decoration: underline}

/*可配置商品购物车*/
.ordercart,.add-to-cart{padding: 10px; background:#F3F3F3; color: #333}
.ordercart .price-box,.ordercart p.required{display: none}
.ordercart dl dt,.ordercart dl dd{padding-bottom: 10px}
.ordercart .order_select{font-size: 14px}

input.btn-cart{background: url(../images/btn_buy.png) no-repeat ;border: none; display:inline-block;margin-right:7px;width:122px;height:36px;font:bold 16px/36px Microsoft YaHei,arial;text-align:center;font-weight:bold;color:#fff !important; text-indent: -9999px; cursor: pointer}
input.btn-cart:hover{ background-position:0 -41px;}
.ordercart .add-to-cart{padding: 0; border: none; background: none}
/*到购物车*/
.add-to-links{display: none}
.add-to-links li{display: inline-block; _display:inline; _zoom:1; }

.product-img-box{float: left; width: 450px}
.imageDiv{height: 420px; width: 420px; border: 1px solid #e4e4e4}
.more-views{padding: 15px 0}
.product-img-box .more-views li{display: inline-block; _display:inline; _zoom:1; border: 2px solid #FFF}
.product-img-box .more-views li.on{border-color: red}
.more-views h4{display: none;}

/*商品内容*/

.product-view .col-main{width: 750px}
.product-view .col-sub{width: 230px}
.product_tabs{background:#FFF; border-bottom: 1px solid #0688BA; height: 33px; margin-bottom: 15px;}
.product_tabs li {float:left;cursor:pointer;border:1px solid #d7d7d7;border-bottom:0;margin-right:-1px;}
.product_tabs li span {display:block;width:128px;height:30px;line-height:30px;text-align:center;font-size:14px;border-bottom:0;background-color:#f3f3f3;border:1px solid #fff; color:#333;font-weight: normal;text-decoration:none;outline:none}
.product_tabs li.current {border-color:#0688BA;border-bottom:0;position:relative;}
.product_tabs li.current span {height:31px;background-color:#fff; color:#076EBB;font-weight:bold}

/*产品留言-评论*/
div.box-views{}
/*你可能会喜欢*//*相关商品*/
.box-up-sell,.block-related{ }
.box-up-sell .block-title, .block-related .block-title{}


.relate-dproduct{float: left; width: 790px; padding-bottom: 15px;}
.relate-dproduct li{float: left; width: 200px}
.relate-dproduct li dl{border-bottom: none}
.relate-dproduct .input{float: left; width:20px;}

.block-subtitle{float: right; width: 168px}
/*小图展示*/
.min-products-grid{}
.min-products-grid dl{ padding: 8px 0;  border-bottom: 1px dotted #d5d5d5}
.min-products-grid dl dt{float: left; width: 60px;}
.min-products-grid dl .product-name{margin-left:80px}

/*文字列表*/
.min-products-list{}
.min-products-list li{padding-left: 10px;}

/*登录*/
.account-login,.account-create ,.customer-account-forgotpassword .cont1{padding: 20px 0}
.account-login h2,h2.legend,h2.font16{font: bold 14px/30px "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, Verdana, "\5B8B\4F53"; color: #8e0c3a; padding:0 0 2px; margin-bottom: 20px; background: url(../images/bg-line-horizontal.gif) repeat-x 0 bottom; text-align: left;}
h2.font16{margin-bottom: 30px}
.account-login .content{ padding: 20px}
.new-users .content{background: #f3f3f3 url(../images/bg-register-right.gif) repeat-y right 0; position: relative;}
.box-bottom{ width: 480px; height:10px;  background:url('../images/bg-register-bottom.gif') repeat-x; position: absolute; bottom:-10px; left: 0; z-index: 1}
.box-corner{ width:7px; height:7px; background:url('../images/bg-register-corner.gif') no-repeat; right: 0; bottom:-10px;position: absolute; z-index: 2 }

.registered-users .input-text {width: 200px}
.registered-users .form_list li.fields{ padding-left: 5em}
.registered-users .form_list .label-like{float:left; margin-left: -5em; width: 4.5em;}
.login_bnt,.reg_bnt,.submit_bnt{background: url(../images/botton-red-login.gif) no-repeat 0 0; width: 120px; height: 33px; border: none;text-indent: -999px; cursor: pointer; display: block;}
.reg_bnt{background: url(../images/botton-red-register.gif)}

/*用户注册*/
.account-create .fieldset{padding: 10px 0 30px 250px}
.reg_info{ padding:0 0 30px 50px}
.account-create .form_list li.fields{ height:45px}
.account-create .form_list li.fields .prompt-msg{display: block;}
.account-create .input-text{width: 280px}
/*找回密码*/
.password_from{ margin:30px 0 30px 250px}
.password_from li.fields{height: 50px}
.password_from li.fields .input-text{width: 300px}
.submit_bnt{background: url(../images/botton-red-psdsubmit.gif) no-repeat;}


/*用户中心*/
.block-account .block-content dl{padding:8px 15px; border-bottom: 1px solid #eee}
.welcome-msg .hello,.my-account h1{font: bold 14px/30px "微软雅黑"; color: #8e0c3a; padding:0 0 2px; margin-bottom: 20px; background: url(../images/bg-line-horizontal.gif) repeat-x 0 bottom; text-align: left;}
/*首页*/
.welcome-msg { margin:0 0 1.5em; }
.welcome-msg p { margin:0 0 5px; }

.account_points{ background:#f5f5f5; padding:10px; border:1px solid #e1e1e1; margin-bottom:15px}
.account_points dd{display:inline; padding-right:10px}
.account_points dd.account{display:block; font-size:14px;}
.account_points dd.account strong{ color:red}

/*订单详情*/
/* Order View */
.order-info dt { display:none; }
.order-info ul { }
.order-info li { float:left; font-size:14px; height:29px; line-height:29px; font-weight:bold; padding:0 15px }
.order-info li a { display:block; color:#333; text-decoration:none !important; }
.order-info li a:hover { }
.order-info li.current { color:#333; ; background:#FFF; }
.order_title { border:1px solid #F1D38B; padding:1px; margin-bottom:15px }
.order_title .boeder { border:2px solid #FCF4CD }
.order_title h2 { color:#555; border-bottom:1px solid #dadada; padding:10px; line-height:26px }
.order_title h2 span { display:block; padding:0 0; font-size:12px; text-align:right; float:right; font-weight:normal }
.order_title h2 em { color:#ff7300; font-style:normal }
.order-date { padding:5px 15px; display:block }
.order-info-box { border:1px solid #cfcfcf; padding:12px 15px; }
.order-info-box h2 { font-weight:bold; font-size:13px; }
.order-info-box .box-payment p { margin:0 0 3px; }
.order-info-box .box-payment th { font-weight:bold; padding-right:7px; }
.back-link{float: right;}
.oreder_info { background:#ededee; padding:5px; border:1px solid #d9d9d9; }
.oreder_info h1{background: none; margin: 0}
.oreder_info .price { color:#333 }
.oreder_info .grand_total .price { color:#c7000a }
.order_row { margin:0 15px 10px; padding-bottom:10px; border-bottom:1px solid #eee; }
.orederlist { padding:15px; }
.orederlist .data-table1 { border:1px solid #eee }
.orederlist .data-table1 th { padding:2px 5px; text-align:center; background:#e6e6e6 }
.orederlist .data-table1 td { padding:5px 5px; text-align:center }
.order-items { background:#FFF; padding:15px 0 0; line-height:21px; }
.order_totaldiv { background:#ededee; padding: 0 15px }
.order-items h2, .order-items h3 { font-weight:bold; font-size:13px; }
.order-items .product-name { font-size:1em !important; font-weight:bold !important; }
.order-items .link-print { float:right; color:#1e7ec8; font-weight:normal; }
.order-items p .link-print { float:none; }
.order-gift-message { }
.gift-message { text-align:left }
.gift-message dt strong { color:#666; }
.gift-message dd { margin:5px 0 0; font-size:12px; padding:10px; border:1px dashed #ddd; background:#f5f5f5 }
.order-about { margin:15px 0; }
.order-about dt { font-weight:bold; }
.order-about dd { font-size:13px; margin:0 0 7px; }
.tracking-table { margin:0 0 15px; }
.tracking-table th { font-weight:bold; white-space:nowrap; }
.tracking-table th, .tracking-table td { padding:1px 5px 0 0; }
.tracking-table-popup { width:100%; }
.tracking-table-popup th { font-weight:bold; white-space:nowrap; }
.tracking-table-popup th, .tracking-table-popup td { padding:1px 8px; }
.youalink dl{float:left; padding:10px}

.order_row h5{ float:left; width:66px; clear:both}
.payinfo{float:left; margin-bottom:10px}

/*地址簿*/
.addresses-list { }
.addresses-list h2 { font-weight:bold; font-size:14px; color:#333; margin-bottom:8px; }
.addresses-list h3 { font-weight:bold; font-size:12px; }
.addresses-list address { margin:0 0 3px; }
.addresses-list p { margin:0; }
.addresses-list a { font-weight:bold; }
.addresses-list .link-remove { color:#000; }
.addresses-list .separator { margin:0 3px; }
.addresses-primary ol { border:1px solid #f1d38b; padding:1px; }
.addresses-primary ol li { border:3px solid #fcf4cd; padding:15px }
.addresses-list li.item { border:1px solid #cfcfcf; padding:13px; margin:2px 0; }
.addresses-list li.empty { background:none; border:0; padding:0; }
.addresses-list li.empty p { font-weight:bold; }



/*支付步骤*/
.checkout-onepage-index .shopcar_guid{background-position: 0 -40px}
.checkout-onepage-success .shopcar_guid{background-position: 0 -80px}

.step-title{display: none;}
.shopcar_guid{height: 32px; margin:10px 0}
.shopcar_guid li{float:left;padding:0 15px 0 0;background:url(../images/bg_flow_step_32.png) #e6e6e6 no-repeat 100% -64px;color:#666666;font:700 14px/32px "宋体";text-align:center;list-style:none; width: 315px;}
.shopcar_guid li.stp3{background: #e6e6e6}
.checkout-cart-index .shopcar_guid li.stp1,.checkout-onepage-index li.stp2,.checkout-onepage-success li.stp3{color:#FFF; background:#3164af url(../images/bg_flow_step_32.png) no-repeat right -64px}
.checkout-onepage-index li.stp1,.checkout-onepage-success li.stp2{background:#e6e6e6 url(../images/bg_flow_step_32.png) no-repeat right -32px }
.checkout-onepage-success li.stp3{background: #3164af}

/*购物车*/
.cart-table{ border-top:1px solid #d7d7d7; width:100%; text-align:left; margin-bottom:10px}
.cart-table th{ font-weight:normal; text-align:left; padding: 0}
.cart-table tbody td{ padding:15px 0; border-bottom:1px dotted #d7d7d7; vertical-align:top}
.table_first{margin: 0 10px}

.cart-table thead{ background:#f3f3f3; height:30px; line-height:30px;}
.cart-table tfoot th{ vertical-align:top; padding-top:10px;}
.cart-table tbody tr{ background:#fffaf1;}
.cart-table tbody .img{ background:#fff; width:80px; height:80px;border:1px solid #cdcdcd; float:left;text-align:center;position:relative;zoom:1;line-height:80px;#font-size:68px;overflow:hidden;}
.cart-table body .img img{ display:inline-block; _display:inline; _zoom:1; vertical-align:middle;}
.item-options{line-height: 18px}
.item-options dt{font-weight: bold;}
.cart-table .minus,
.cart-table .plus{border:1px solid #8a8a8a; float:left;  width:20px; height:20px; line-height:19px; font-size:16px; cursor:pointer; text-align:center;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}
.cart-table .qty{float: left}
.cart-table .s-amount a:hover{text-decoration: none}
.cart-table .clear{float: left;}
.cart-table .totals{float: right; text-align: right;}
.cart-table .totals dl,.checkout-types{padding-bottom: 10px}
.cart-table .totals .price{color: red; font-size: 18px}
.cart-table .icon_clear{width:16px; height:16px; background:url(../images/icon16x16.png) no-repeat -120px 0; margin:0 3px 0 10px}
a.btn-checkout{height: 36px; font:bold 16px/36px "\5FAE\8F6F\96C5\9ED1", Arial;}
a.btn_common, a.btn_strong {vertical-align: bottom;}
/*购物车无商品*/
.noitem{text-align: center; padding: 30px 0}
/*购物车推荐销售*/
.cart-collaterals{}
.crosssell h2{background: #F6F6F6; border-top: 1px solid #D7D7D7; margin-bottom: 10px;padding: 5px 0 6px 10px; font-size: 14px;}

/*快速登录*/
.user_login{ text-align:left; color:#444;  }
.user_login h3{ padding: 10px 0;}
.loginbox, .reg_guest{ }
.loginbox{ padding:0 0 0 20px; float:left; overflow:hidden; width: 300px;}
.loginbox .form_list li{ margin:0}
.loginbox .form_list li.fields{padding-left: 3em}
.loginbox .form_list .label-like, .loginbox .form_list label {}

.loginbox .form_list li.fields .input-text  { width:200px;}
.reg_guest{ float:right; padding:0 20px 0 0;  width:180px; }
.reg_guest a{display:block; width:155px; height:34px; text-align:center; font:bold 14px/34px Arial, Helvetica, sans-serif; color:#FFF !important}
.reg_guest a:hover{text-decoration:none}
.reg_guest .reg{ background:url(../images/defult/l_reg.gif) no-repeat}
.reg_guest .guest{background:url(../images/defult/l_guest.gif) no-repeat; margin-top:15px}


/*onepage 一页结账*/
.onepage{  background:#FFF; }
.onepages h1{display:none}
.onepage_items{ padding:0 20px 20px; line-height:21px; border:1px solid #ddd; margin-bottom:20px; border-radius:3px;}
.onepage_items h4{font-size:14px; background:#ddd url(../images/defult/onepage_items_h4_bg.gif) repeat-x 0 bottom; margin:0 -20px 8px; padding:0 20px; height:33px; line-height:33px; border-radius:3px 3px 0 0;}
.onepage_items h4 span a{ font-size:12px; font-weight:normal; color:#F60; text-decoration:underline; margin-left:5px }
.onepage_items.foucs, .onepage_items.foucs h4{ background:#fbfbfb; }

.onepage_items dl{ line-height:23px;}
.onepage_items dt{  overflow:hidden; width:7.5em; text-align:right; float:left }
.onepage_items #payment-method dt{float:none; width:auto; text-align:left}
.onepage_items #payment-method label{float:none}
.onepage_items #payment-method dd{ padding:5px 10px 5px 20px; background:#0FC; width:400px; border-radius:5px }
.onepage_items dd{ text-align:left}

.onepage_items .form_list li.fields{ margin:0; padding-left:6em;}
.onepage_items .form_list .label{margin-left:-6em; width:6em; float:left; text-align:right; }
.onepage_items .form_list label{ margin:0; width:auto}
.onepage_items .form_list .input-text{}

.payment .form_list li{height:auto; _height:35px; padding-bottom: 8px}
.payment .form_list li #payment-method,.payment .form_list li #shipping-method{ width:500px;}
.onepage_items .order-block{ border:1px solid #FFF; _padding:2px 0 5px 5px}
.onepage_items .order-block-info{display:none}
.onepage_items .order-block-info fieldset {padding: 5px 23px}
.onepage_items .order-hover{border:1px solid #ddd; background:#f5f5f5}
.onepage_items .order-click{ background:#eee;border:1px solid #ddd; }
.onepage_items .order-click .title{font-weight:bold}
.no_address{ border: 1px solid #E7D3B8; background-color: #FFFFE3; padding:5px 10px !important; color: #333; display:inline;}

/*onepage产品详情*/
.product table {border:1px solid #e4e4e4}
.product table th{padding:5px 8px; background:#ddd;  vertical-align:middle; nowrap:true; word-break: keep-all; white-space:nowrap;}
.product table tr{background:#f9f9f9; }
.product table td{border:1px solid #e6e6e6; vertical-align:middle; background:#fff}
.product table td .pic{float:left; margin-right:5px}
.product table td .item{float: left; line-height: 18px;}
.product table td .item .product-name{margin-bottom: 5px}

.order_totals { float:right; text-align:left; font:14px/23px Arial, Helvetica, sans-serif; padding:20px 0; }
.order_totals .gray12{padding:0 10px 0 0; line-height:39px}
.mk_onepage .order_totals { padding:5px 10px; text-align:right}
.comment-form{ padding:10px; border:1px solid #e4e4e4; margin-bottom:8px; background:#F9F9F9 url(../images/defult/order_table_bg.gif) repeat-x 0 bottom}
.comment-form textarea{ height:54px; border:1px solid #d6d6d6; padding:3px}
#comment-form{ float:left}
.mk_onepage .product h4{font-size:14px; padding:0 20px 8px}
.grand_total {  border-top:1px solid #eee; padding:5px 0; margin-top:10px }
#grand_total{font-size:16px;}
.coupon{font-size:12px; line-height:28px; margin-bottom:8px}
.get_oreder{background:url(../images/defult/oreder_get.gif) no-repeat; width:155px; height:39px; border:none; text-indent:-9999px; float:right; cursor:pointer}


/*完成订单*/
.cartpage-title h1{display: none}
.onepage_success{position: relative; clear: both; overflow: hidden; zoom: 1; text-align: left; margin-bottom: 10px; border: 1px solid #E7D3B8; background-color: #FFFFE3; padding: 20px 10px 20px 85px;}
.onepage_success .icon_msg4 { position: absolute; margin-left: -58px; }
.onepage_success h2{font-size: 14px; margin-bottom: 15px;}
.onepage_success .wrap_info{background: #FFF; border: 1px solid #D4D4D4; padding: 15px 20px; width: 310px; margin: 10px 0}
.onepage_success a,.onepage_success a:link{color: #085C9B}
.onepage_success .wrap_btn{margin-bottom: 10px}
.onepage_success .wrap_btn .btn_strong_big{color: #FFF}
.success-item{margin-bottom: 10px}

/*在线支付弹出层*/
.pay_light{text-align:left; padding:20px 20px; color:#4D4D4D; }
.pay_light h3{ font-size:16px; padding-bottom:10px; border-bottom:1px solid #ccc; margin-bottom:10px}
.pay_light a{ color:#07F !important;}
.pay_light .note{background:url(../images/i_msg-note.gif) no-repeat; padding-left: 20px;}
.pay_light ul{ margin:15px 0 25px}
/*评论星级*/
.ratingsbox{float:left; width:230px}
.ratings{clear:both; padding:0 0 8px}
.ratingsbox h4{padding-bottom:10px}
.star span{background:url(../images/defult/product_rating_blank_star.gif) no-repeat; display:block; float:left; height:14px; width:15px; text-indent:-9999px}
.star span.choice{background:url(../images/defult/product_rating_full_star.gif) no-repeat; }
.ratings .name{ padding-right:30px}


.form-add{background:#fff8f8; padding:15px}
.form-add h3{margin-bottom:15px; font-size:14px}
.form-add .form-list{ float:left}
.form-add em{color:red}
.form-add .form-list label{font-weight:bold}
.form-add .form-list textarea{ width:400px; border:1px solid #A0A0A0}
.form-add .form-list .required-entry{margin-bottom:5px}
.reviewslsist{}
.reviewslsist .titles{background:#f7f7f7; padding:5px 15px; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; margin:8px 0}
.reviewslsist .titles span{display:block; float:left; width:180px}
.reviewslsist .titles small{ float:right}
.reviewslsist .titles strong{font-weight:normal}
.reviewslsist .ratings-table{float:left; width:165px; padding-left:15px}
.reviewslsist .conts{float:left; padding:0 15px 10px}

/*打印样式*/
.page-print { background:#fff; padding:25px 30px; text-align:left; }


/*cms类页面*/
.page-title{font: bold 18px/25px "微软雅黑"; border-bottom: 1px solid #ddd; margin-bottom: 15px; padding-bottom:10px; text-align: center; color: #333 }
.cmspages, .cms_page{border: 1px solid #e4e4e4; padding: 20px}
/*帮助中心*/
.help-nav{border: 1px solid #eee}
.help-nav .help_title{background: #ddd; padding: 0 15px; height: 30px; line-height: 30px; font-size: 14px;}
.help-nav li{border-bottom: 1px solid #e4e4e4; padding: 5px 15px}
.help-nav li.active{font-weight: bold;}
.h3icon3{ background:url("../images/icon-infos.gif") no-repeat scroll 17px -75px transparent;}
help-nav h3 span {padding-left: 30px;}
.help-question-icon,.help-answer-icon{ margin-right:10px; vertical-align:middle; background-image:url(../images/icon-infos.gif); background-repeat:no-repeat; width:24px; height:24px; display:block; text-indent: -9999px; float: left}
.help-question-icon{ background-position:-0px -0px; float:left; margin-top:9px;}
.help-answer-icon{ background-position:-0px -38px; text-indent:-999em;}

.help-content .cms_page{background:#fff;padding: 30px;}
.help-content dl{padding-left:38px;}
.help-content dt{ height:41px; line-height:41px; font-weight:bold; margin-top:10px;}
.help-content dd{ padding-bottom:15px; border-bottom: 1px dotted #c5c5c5;}
.help-content dd img{margin-left:32px;}
.help-content dd p{ line-height:23px; padding:11px 15px; background:#f3f3e9; margin-left:30px;}

.help-content  a{ color:#193247;}
.help-content  a:hover{ text-decoration:underline;color:#193247;}
/*------------------------messages--------------------------*/
.messages li { margin-bottom:10px; color:#333 }
.messages .error-msg { border:1px solid #ffc554; background:#fdf3df; padding:5px 10px }
.loyalty-points { float: left;line-height: 36px;margin-left: 12px; }
/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.messages .error ,.error{ color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.messages, .messages ul { }
.messages { width:100%; overflow:hidden;}
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg, .success-msg, .note-msg, .notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 8px !important; background-repeat:no-repeat !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f3966a; background:#fff1ec url(../images/defult/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#c4ef9f; background:#EFF5EA url(../images/defult/i_msg-success.gif); color:#3d6611; }
.note-msg, .notice-msg { border-color:#94ca6d; background:#f8feed url(../images/defult/i_msg-note.gif); color:#3d6611; }


.icon_msg4{width:48px;height:48px;background:url(../images/defult/icon48x48.png) no-repeat;}
.icon_msg4_right{background-position:0 0;}
.icon_msg4_error{background-position:-50px 0;}
.icon_msg4_warn{background-position:-100px 0;}

/*加载提醒*/
#loading .item{width: 50px; height: 50px; margin: 0 auto; background: #FFF url(../images/defult/ajax-loader.gif) no-repeat center; color: #333; z-index: 1000; border: 1px solid #f3d0e3}
.alert .ui-dialog-titlebar{display: none}
.alert {background: none!important; border: none!important; -moz-box-shadow:none!important;;-webkit-box-shadow:none!important;;filter:none!important;}


#errorblock {position: relative;; padding: 20px 0 0 120px; color: #868686}
#errorblock .icon_msg4{position: absolute;; left: 50px}
#errorblock .wrap_btn{margin-top: 5px}

/*新闻列表*/
.newslist{padding: 20px; border: 1px solid #dbdbdb}
.newslist li{border-bottom:1px solid #eee; padding-bottom:8px; margin-bottom:8px}
.newslist li em{float:right; font-style:normal; display: none}
.newslist li a{font-size:14px;}

/*widget*/
/*最近查看*/
.clear_btn{font-weight: normal; font-size: 12px;}

/*高级搜素*/
#advanced-search-list li{height: auto; margin-bottom: 5px;}
/*清除层内浮动*/
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}
.blank{line-height:1%; overflow:hidden; clear:both}


