@charset "utf-8";
/* CSS Document */

.buyrecords-table{border-spacing:0;border-collapse:collapse;}
.buyrecords-table .t1{text-align: left;}
.buyrecords-table .t2{text-align: left;}
.buyrecords-table .t3{text-align: left;}
.buyrecords-table .t4{text-align: right;}
.buyrecords-table .th,.buyrecords-table td{padding: 0 10px;vertical-align: middle}
.buyrecords-table .thead .th{height: 40px;border-top:#b0b0b0 1px solid;border-bottom:#d7d7d7 1px solid;background: url(../images/buyrecords/bg-h2.png) repeat-x;}
.buyrecords-table .datarow td{height: 32px;border-top: #ccc 1px dotted;border-bottom:#c6c6c6 1px dotted;color:#676767;}