<?xml version="1.0"?>
<config>
    <modules>
        <Makingware_Cms>
            <version>0.2.0</version>
        </Makingware_Cms>
    </modules>
    <global>
        <resources>
            <makingware_cms_setup>
                <setup>
                    <module>Makingware_Cms</module>
                </setup>
            </makingware_cms_setup>
        </resources>
        <models>
            <cms>
                <rewrite>
                    <page>Makingware_Cms_Model_Page</page>
                </rewrite>
            </cms>
            <cms_mysql4>
                <rewrite>
                    <page>Makingware_Cms_Model_Mysql4_Page</page>
                    <page_tree>Makingware_Cms_Model_Mysql4_Page_Tree</page_tree>
                    <page_collection>Makingware_Cms_Model_Mysql4_Page_Collection</page_collection>
                    <page_permission>Makingware_Cms_Model_Mysql4_Page_Permission</page_permission>
                </rewrite>
                <entities>
                    <page_permission><table>cms_page_permission</table></page_permission>
                </entities>
            </cms_mysql4>
        </models>
        <blocks>
        	<adminhtml>
        		<rewrite>
                    <cms_page_edit>Makingware_Cms_Block_Adminhtml_Page_Edit</cms_page_edit>
                    <cms_page_tree>Makingware_Cms_Block_Adminhtml_Page_Tree</cms_page_tree>
                    <cms_page_widget_chooser>Makingware_Cms_Block_Adminhtml_Page_Widget_Chooser</cms_page_widget_chooser>
                    <cms_page_edit_tab_design>Makingware_Cms_Block_Adminhtml_Page_Edit_Tab_Design</cms_page_edit_tab_design>
                    <cms_page_permissions_tree>Makingware_Cms_Block_Adminhtml_Page_Permissions_Tree</cms_page_permissions_tree>
                    <customer_group_switcher>Makingware_Cms_Block_Adminhtml_Customer_Group_Switcher</customer_group_switcher>
                </rewrite>
        	</adminhtml>
        	<cms>
          		<rewrite>
                    <page>Makingware_Cms_Block_Page</page>
                    <page_tree>Makingware_Cms_Block_Page_Tree</page_tree>
                </rewrite>
            </cms>
        </blocks>
        <events>
        	<adminhtml_cms_page_edit_tab_main_prepare_form>
        		<observers>
                    <makingware_cms_page_prepare_form>
                        <type>singleton</type>
                        <class>Makingware_Cms_Model_Adminhtml_Page_Observer</class>
                        <method>prepareForm</method>
                    </makingware_cms_page_prepare_form>
        		</observers>
        	</adminhtml_cms_page_edit_tab_main_prepare_form>
        	<cms_page_prepare_save>
        		<observers>
                    <makingware_cms_page_prepare_save>
                        <type>singleton</type>
                        <class>Makingware_Cms_Model_Adminhtml_Page_Observer</class>
                        <method>prepareSave</method>
                    </makingware_cms_page_prepare_save>
        		</observers>
        	</cms_page_prepare_save>
        </events>
        <helpers>
            <cms>
                <rewrite>
                    <page>Makingware_Cms_Helper_Page</page>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Makingware_Cms before="Mage_Cms">Makingware_Cms</Makingware_Cms>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Makingware_Cms before="Mage_Adminhtml">Makingware_Cms_Adminhtml</Makingware_Cms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
			<updates>
				<makingware_cms>
					<file>makingware_cms.xml</file>
				</makingware_cms>
			</updates>
		</layout>
        <translate>
            <modules>
                <Makingware_Cms>
                    <files>
                        <default>Makingware_Cms.csv</default>
                    </files>
                </Makingware_Cms>
            </modules>
        </translate>
        <menu>
             <cms translate="title" module="cms">
                <title>CMS</title>
                <sort_order>70</sort_order>
                <children>
                    <page translate="title" module="reports">
                        <title>Pages</title>
                        <children>
                            <content translate="title" module="reports">
                                <title>Manage Content</title>
                                <action>adminhtml/cms_page</action>
                            </content>
                            <permissions translate="title" module="reports">
                                <title>Manage Permissions</title>
                                <action>adminhtml/cms_page_permissions</action>
                            </permissions>
                        </children>
                    </page>
                    <block translate="title" module="cms">
                        <title>Static Blocks</title>
                        <action>adminhtml/cms_block</action>
                        <sort_order>10</sort_order>
                    </block>
                </children>
             </cms>
        </menu>
    </adminhtml>
</config>