<!--@subject {{var order.getStoreGroupName()}}: Shipment # {{var shipment.increment_id}} update @-->
<style type="text/css">body,td { color:#2f2f2f; font:12px/1.5em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:12px/1.5em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Makingware"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>您好，{{var shipping.getName()}}</strong>,<br/>
                    您的订单# {{var order.increment_id}}已<br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>{{var comment}}</p>
                <p>
                    如有任何疑问，请发邮件至
                    <a href="mailto:{{config path="trans_email/ident_general/email"}}" style="color:#1E7EC8;">{{config path="trans_email/ident_general/email"}}</a>
                    或拨打电话 {{config path="general/store_information/phone"}}
                </p>
                <p>多谢惠顾！<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>