<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_Bill>
			<version>0.1.0</version>
		</Makingware_Bill>
	</modules>
	<global>
		<blocks>
			<makingware_bill>
				<class>Makingware_Bill_Block</class>
			</makingware_bill><!-- -->
		</blocks>
		<helpers>
			<makingware_bill>
				<class>Makingware_Bill_Helper</class>
			</makingware_bill>
		</helpers>
		<models>
			<makingware_bill>
				<class>Makingware_Bill_Model</class>
				<resourceModel>makingware_bill_mysql4</resourceModel>
			</makingware_bill>
			<makingware_bill_mysql4>
				<class>Makingware_Bill_Model_Mysql4</class>
				<entities>
					<bill>
						<table>bill</table>
					</bill>
					<bill_quote>
						<table>bill_quote</table>
					</bill_quote>
				</entities>
			</makingware_bill_mysql4>
		</models>
		<resources>
			<makingware_bill_setup>
				<setup>
					<module>Makingware_Bill</module>
				</setup>
			</makingware_bill_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<makingware_bill>
				<use>admin</use>
				<args>
					<module>Makingware_Bill</module>
					<frontName>makingware_bill</frontName>
				</args>
			</makingware_bill>
			<adminhtml>
				<args>
					<modules>
						<Makingware_Bill before="Mage_Adminhtml">Makingware_Bill_Adminhtml</Makingware_Bill>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<makingware_bill>
					<file>makingware_bill.xml</file>
				</makingware_bill>
			</updates>
		</layout>
		<translate>
			<modules>
				<Makingware_Bill>
					<files>
						<default>Makingware_Bill.csv</default>
					</files>
				</Makingware_Bill>
			</modules>
		</translate>
	</adminhtml>
</config>