<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_SearchOrder>
			<version>0.1.0</version>
		</Makingware_SearchOrder>
	</modules>
	<global>
		<blocks>
			<makingware_searchorder>
				<class>Makingware_SearchOrder_Block</class>
			</makingware_searchorder>
		</blocks>
		<models>
			<searchorder>
				<class>Makingware_SearchOrder_Model</class>
			</searchorder>
		</models>
		<helpers>
			<makingware_searchorder>
				<class>Makingware_SearchOrder_Helper</class>
			</makingware_searchorder>
		</helpers>
	</global>
	<frontend>
		<routers>
			<makingware_searchorder>
				<use>standard</use>
				<args>
					<module>Makingware_SearchOrder</module>
					<frontName>searchorder</frontName>
				</args>
			</makingware_searchorder>
		</routers>
		<translate>
			<modules>
				<Makingware_SearchOrder>
					<files>
						<default>Makingware_SearchOrder.csv</default>
					</files>
				</Makingware_SearchOrder>
			</modules>
		</translate>
		<layout>
			<updates>
				<makingware_searchorder>
					<file>makingware_searchorder.xml</file>
				</makingware_searchorder>
			</updates>
		</layout>
	</frontend>
</config> 