<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_UrlKeyMaker>
			<version>0.1.0</version>
		</Makingware_UrlKeyMaker>
	</modules>
	<global>
		<models>
			<makingware_urlkeymaker>
				<class>Makingware_UrlKeyMaker_Model</class>
			</makingware_urlkeymaker>
		</models>
		<helpers>
			<makingware_urlkeymaker>
				<class>Makingware_UrlKeyMaker_Helper</class>
			</makingware_urlkeymaker>
		</helpers>
		<events>
			<catalog_category_prepare_save>
				<observers>
					<makingware_urlkeymaker_model_observer>
						<type>singleton</type>
						<class>Makingware_UrlKeyMaker_Model_Observer</class>
						<method>changeUrlKey</method>
					</makingware_urlkeymaker_model_observer>
				</observers>
			</catalog_category_prepare_save>
			<catalog_product_prepare_save>
				<observers>
					<makingware_urlkeymaker_model_observer>
						<type>singleton</type>
						<class>Makingware_UrlKeyMaker_Model_Observer</class>
						<method>changeUrlKey</method>
					</makingware_urlkeymaker_model_observer>
				</observers>
			</catalog_product_prepare_save>
		</events>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<makingware_urlkeymaker>
					<files>
						<default>Makingware_UrlKeyMaker.csv</default>
					</files>
				</makingware_urlkeymaker>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<catalog>
			<makingware_urlkeymaker>
				<active>1</active>
				<type>pinyin</type>
				<ucfirst>0</ucfirst>
				<separator>-</separator>
			</makingware_urlkeymaker>
		</catalog>
	</default>
</config>