<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_Alipay>
			<version>0.9.0</version>
		</Makingware_Alipay>
	</modules>
	<global>
		<models>
			<alipay>
				<class>Makingware_Alipay_Model</class>
			</alipay>
		</models>
		<helpers>
			<alipay>
				<class>Makingware_Alipay_Helper</class>
			</alipay>
		</helpers>
		<blocks>
			<alipay>
				<class>Makingware_Alipay_Block</class>
			</alipay>
		</blocks>
		<sales>
			<order>
				<states>
					<wait_buyer_pay>
						<statuses>
							<wait_buyer_pay />
						</statuses>
					</wait_buyer_pay>
					<wait_seller_end_goods>
						<statuses>
							<wait_seller_end_goods />
						</statuses>
					</wait_seller_end_goods>
					<send_goods>
						<statuses>
							<send_goods />
						</statuses>
					</send_goods>
					<wait_buyer_confirm_goods>
						<statuses>
							<wait_buyer_confirm_goods />
						</statuses>
					</wait_buyer_confirm_goods>
					<trade_finishen>
						<statuses>
							<trade_finishen />
						</statuses>
					</trade_finishen>
				</states>
			</order>
		</sales>
		<payment>
			<alipay>
				<languages>
					<FR>
						<code>FR</code>
						<name>Français</name>
					</FR>
					<EN>
						<code>EN</code>
						<name>Anglais</name>
					</EN>
					<ES>
						<code>ES</code>
						<name>Espagnol</name>
					</ES>
					<DE>
						<code>DE</code>
						<name>Allemand</name>
					</DE>
					<IT>
						<code>IT</code>
						<name>Italien</name>
					</IT>
					<NL>
						<code>NL</code>
						<name>Néerlandais</name>
					</NL>
				</languages>
			</alipay>
		</payment>
	</global>
	<frontend>
		<secure_url>
			<alipay>/alipay/payment</alipay>
		</secure_url>
		<routers>
			<alipay>
				<use>standard</use>
				<args>
					<module>Makingware_Alipay</module>
					<frontName>alipay</frontName>
				</args>
			</alipay>
		</routers>
		<translate>
			<modules>
				<Makingware_Alipay>
					<files>
						<default>Makingware_Alipay.csv</default>
					</files>
				</Makingware_Alipay>
			</modules>
		</translate>
		<layout>
			<updates>
				<alipay>
					<file>makingware_alipay.xml</file>
				</alipay>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Makingware_Alipay>
					<files>
						<default>Makingware_Alipay.csv</default>
					</files>
				</Makingware_Alipay>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>
			<alipay>
				<model>alipay/payment</model>
				<title>支付宝</title>
				<allowspecific>0</allowspecific>
				<transaction_type>O</transaction_type>
			</alipay>
		</payment>
	</default>
</config>
