html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse; border-spacing:0}
body, html{ background:#F5f5f5; font:12px/21px Arial, Helvetica, sans-serif; text-align:left}

/* Forms */
form { display:inline; }
fieldset { border:0; }
legend { display:none; }
address { font-style:normal }

/* 通用 */
.bfR{float:right !important}
.bfL{float:left}
.del{float:right; font-weight:normal}
.gray12{color:#808080; font-size:12px;}
.a-left { text-align:left !important; }
.a-center { text-align:center !important; }
.a-right { text-align:right !important; }
.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }

/*清除层内浮动*/
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

.blank{line-height:1%; overflow:hidden; clear:both}
.btnG, .btnG span {
background: url(../images/btnsB101215.gif) no-repeat right -50px;
font-weight: normal; border:none; line-height:25px; height:25px; color: #424041; cursor: pointer;  padding:0; margin:0;   text-align:center; width:80px; vertical-align:middle
}

.btnG span{background-position: 0 0; display:block;}
.btnG:hover{background-position: right -75px;}
.btnG:hover span {background-position: 0 -25px; color: black; }
.none{display:none}

a.back-link{padding-left:10px;}

/* Table */
table { border-collapse:collapse; margin:0; padding:0; border-color:1px; width:100%; border-radius:5px}
th { font-weight:bold; letter-spacing:1px; }

/* table */
.table td ,.table th{font-size:12px;  padding:2px 10px; text-align:center}
.table tr{}
.data-table td ,.data-table th{border:1px solid #ddd; border-right:none; font-size:12px;  padding:8px 10px; text-align:center}
.data-table tr{border-right:1px solid #ddd}
th {font-weight:bold; letter-spacing:1px; padding:5px 0; background:#eee}
.data-table1 { border-collapse:collapse; margin:0; padding:0; border:1px solid #ddd ; width:100% }

.data-table1 th, .data-table1 td { padding:5px; text-align:center; border:1px solid #ddd; border-right:none}
.data-table1 th { background:#e3e3e3; padding:10px 0 }


#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */

.user_login{ text-align:left; color:#444;  height:235px;}
.loginbox, .reg_guest{ }
.loginbox{ padding:20px 0 20px 20px; float:left; width:330px; overflow:hidden}
.loginbox .form_list li{ width:230px; padding-left:30px; margin:0}
.loginbox .form_list .label-like, .loginbox .form_list label {  margin-left: -55px; width:60px}

.loginbox .input-text { width:200px;}
.reg_guest{ float:right; padding:20px 20px 0;  width:180px; }
.reg_guest a{display:block; width:155px; height:34px; text-align:center; font:bold 14px/34px Arial, Helvetica, sans-serif; color:#FFF !important}
.reg_guest a:hover{text-decoration:none}
.reg_guest .reg{ background:url(../images/l_reg.gif) no-repeat}
.reg_guest .guest{background:url(../images/l_guest.gif) no-repeat; margin-top:15px}


textarea, button { font:12px/15px Arial, Helvetica, sans-serif; vertical-align:middle; color:#2f2f2f; }
/* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button.button span { float:left; height:28px; background:transparent url(../images/bkg_btn.png) 0 0 no-repeat;  padding:0 0 0 6px; font:12px/25px Tahoma, Verdana, Arial, sans-serif; text-transform:uppercase; text-align:center; white-space:nowrap; color:#555; }
button.button span span { background-position:100% 0; padding:0 15px 0 9px; }
button.disabled span { color:#bbb !important; }

input.inputbutton { height:26px; padding:0 20px; *padding:0 0;
_padding:0 0; background:#c7a642; border:#c7a642 1px solid; border-right-color:#CB2525; border-bottom-color:#933524; color:#fff; font-weight:bold; line-height:26px; *line-height:23px;
_line-height:21px; text-align:center; cursor:pointer; vertical-align:middle; }

.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }

/*------------------------messages--------------------------*/
.messages li { margin-bottom:10px; color:#333 }
.error-msg { border:1px solid #ffc554; background:#fdf3df; padding:5px 10px }
.loyalty-points { float: left;line-height: 36px;margin-left: 12px; }
/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.messages, .messages ul { }
.messages { width:100%; overflow:hidden;}
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg, .success-msg, .note-msg, .notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 8px !important; background-repeat:no-repeat !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f3966a; background:#fff1ec url(../images/i_msg-error.gif); color:#df280a; }
.success-msg { border-color:#c4ef9f; background:#EFF5EA url(../images/i_msg-success.gif); color:#3d6611; }
.note-msg, .notice-msg { border-color:#94ca6d; background:#f8feed url(../images/i_msg-note.gif); color:#3d6611; }

.form-add{background:#fff8f8; padding:15px; margin:-20px -15px}
.form-add h3{margin-bottom:15px; font-size:14px}

.ratingsbox{float:left; width:230px}
.ratings{clear:both; padding:0 0 8px}
.ratingsbox h4{padding-bottom:10px}
.star span{background:url(../images/product_rating_blank_star.gif) no-repeat; display:block; float:left; height:14px; width:15px; text-indent:-9999px}
.star span.choice{background:url(../images/product_rating_full_star.gif) no-repeat; }
.ratings .name{ padding-right:30px}

.form-add .form-list{ float:left}
.form-add em{color:red}
.form-add .form-list label{font-weight:bold}
.form-add .form-list textarea{ width:400px; border:1px solid #A0A0A0}
.form-add .form-list .required-entry{margin-bottom:5px}
.reviewslsist{}
.reviewslsist .titles{background:#f7f7f7; padding:5px 15px; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; margin:8px 0}
.reviewslsist .titles span{display:block; float:left; width:180px}
.reviewslsist .titles small{ float:right}
.reviewslsist .titles strong{font-weight:normal}
.reviewslsist .ratings-table{float:left; width:165px; padding-left:15px}
.reviewslsist .conts{float:left; padding:0 15px 10px}
.page-print { background:#fff; padding:25px 30px; text-align:left; }

.icon_msg4{width:48px;height:48px;background:url(../images/defult/icon48x48.png) no-repeat;}
.icon_msg4_right{background-position:0 0;}
.icon_msg4_error{background-position:-50px 0;}
.icon_msg4_warn{background-position:-100px 0;}

/* 按钮*/
.btn_strong,button.button,.inputbutton  {display:inline-block; height:28px; padding:0 20px; font:bold 12px/28px Arial; line-height:26px\9; overflow:hidden;*display:inline; *zoom:1; cursor:pointer; background:#2372cf; /* Old browsers */ background: -moz-linear-gradient(top, #2372cf 0%, #3064af 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2372cf), color-stop(100%, #3064af)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #2372cf 0%, #3064af 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #2372cf 0%, #3064af 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #2372cf 0%, #3064af 100%); /* IE10+ */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2372cf', endColorstr='#3064af', GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #2372cf 0%, #3064af 100%); /* W3C */border: none; color: #FFF; cursor: pointer }
.btn_common{ display:inline-block; height:22px; padding:0 18px; border:1px solid #CDCDCD; font:normal 12px/22px Arial; line-height:24px\9; overflow:hidden; _display:inline; _zoom:1; cursor:pointer; background: #fefefe; /* Old browsers */ background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f1f1f1)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* IE10+ */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F1F1F1', GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* W3C */cursor: pointer }
a.btn_strong,a.btn_strong:link,a.btn_strong:visited { color:#FFF; }
a.btn_strong:hover { color:#FFF; text-decoration:none; }
a.btn_common:link,
a.btn_common:visited { color:#333; }
a.btn_common:hover { color:#333; text-decoration:none; }
.btn_strong_big { height:36px; font:bold 16px/36px "\5FAE\8F6F\96C5\9ED1", Arial; }
.btn_common_big { height:34px; font:bold 16px/34px "\5FAE\8F6F\96C5\9ED1", Arial; }

/*加载提醒*/
#loading .item{width: 50px; height: 50px; margin: 0 auto; background: #FFF url(../images/defult/ajax-loader.gif) no-repeat center; color: #333; z-index: 1000; border: 1px solid #f3d0e3}
.alert .ui-dialog-titlebar{display: none}
.alert {background: none!important; border: none!important; -moz-box-shadow:none!important;;-webkit-box-shadow:none!important;;filter:none!important;}

#errorblock {position: relative;; padding: 20px 0 0 120px; color: #868686}
#errorblock .icon_msg4{position: absolute;; left: 50px}
#errorblock .wrap_btn{margin-top: 5px}

/*新闻列表*/
.newslist{padding: 20px; border: 1px solid #dbdbdb}
.newslist li{border-bottom:1px solid #eee; padding-bottom:8px; margin-bottom:8px}
.newslist li em{float:right; font-style:normal; display: none}
.newslist li a{font-size:14px;}