@charset "utf-8";
/* CSS Document */

.exchange_content{ -webkit-border-radius: 10px; -moz-border-radius: 10px;}

.exchange_items{ ont-size:0px;}
.exchange_items li .item{background: #f5f5f5; height: 120px; border-top: 1px solid #dedede; border-right: 1px solid #dedede; overflow: hidden; font-size:12px}

.exchange_items li .item dd{float: left; height: 120px;}
.exchange_items li .item dd.title{background: #9b9b9b; width:10px;}
.exchange_items li .item dd.rps{width:430px;;}
.exchange_items li .item dd.rps .pic{float: left; padding: 10px;}
.exchange_items li .item dd.rps .pic img{border: 1px solid #dedede}
.bigpic{position:absolute; float:left; border:#ccc 1px solid;}

.exchange_items li .item dd.rps .name{padding-top: 10px}

.exchange_items li .item dd.rp_price{float: right; width: 173px; background: url(../images/exchange_items_bg.png) no-repeat  center; text-align: center;}
.exchange_items li .item dd.rp_price div{padding-top: 28px}
.exchange_items li .item dd.rp_price .price{font-size:20px}
.exchange_items li .item dd.rp_price .old_price .price{font-weight:normal; font-size: 12px; color: #666}
.exchange_items li .item dd.bnt{float: right; padding:45px 10px 0 5px}
.exchange_items li .item dd.bnt a{display: block; background: url(../images/exchange_items_bnt.png) no-repeat; height: 20px; width: 51px;}
.exchange_items li .item.selected{background: #d8e5ea; border-top-color: #FFF}
.exchange_items li .item.selected .title{background: orange}
.exchange_items li .item.selected dd.rp_price{background: url(../images/exchange_items_select_bg.png) no-repeat center;}
.exchange_items li .item.selected dd.bnt a{background: url(../images/exchange_items_select_bnt.png) no-repeat}

.exchange_totals{background: #fffcc5 url(../images/exchange_items_totle_bg.png) repeat-x 0 0; padding: 10px 15px; text-align: right;border: 1px solid #dedede; }
.exchange_totals.top{background: #FFF url(../images/exchange_totles_top.png) repeat-x 0 bottom; }
.exchange_totals .price{font-size: 14px}
.exchange_title,.address_title{ padding:10px ;}
.address_title{ background-position:25px -35px}
.exchange_content .title{ color:#333; font: bold 18px Tahoma,Arial,"微软雅黑","宋体","黑体";}
.exchange_add{ text-align:center}

.address_cont .form_list{padding: 20px 0 20px 7em; background: #f5f5f5}
.address_cont .form_list .label {margin-left: -6em;width: 6em;float: left;text-align: right;}
.address_cont .form_list li{display:inline}
.exchange_bill{padding:10px 0; text-align:right; background:#FFF; border-top:1px solid #ddd}
.exchange_comp_bnt{background:url(../images/exchange/tuan_comp_bnt.jpg) no-repeat; width:198px; height:57px; border:none; line-height: 200px; cursor: pointer}


.quan_content{border:2px dashed #decc74; background:#E2EEA6; padding:15px; margin-bottom:5px; -moz-box-shadow:rgba(0,0,0,0.2) 3px 3px 3px;-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=3,Color=#16000000,Positive=true)}


.user_login{background: none; padding: 0; }
.user_login h3{ padding-bottom: 5px; font-size: 16px; color: #333}
.loginbox{width: 280px}
.reg_guest{width: 310px; border-left: 1px solid #ddd;  padding:20px 20px 0 35px; background: #f5f5f5}
.user_login .fieldset {border: none; padding: 0}
.user_login .form_list li{padding-left:6em}
.user_login .form_list .label-like{ margin-left: -6em; width: 6em; }
.user_login .form_list li .input-text{width:180px }

.ui-corner-all { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
