<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_EmailSender>
			<version>0.1.0</version>
		</Makingware_EmailSender>
	</modules>
	<global>
		<blocks>
			<makingware_emailsender>
				<class>Makingware_EmailSender_Block</class>
			</makingware_emailsender>
		</blocks>
		<helpers>
			<makingware_emailsender>
				<class>Makingware_EmailSender_Helper</class>
			</makingware_emailsender>
		</helpers>
		<models>
			<makingware_emailsender>
				<class>Makingware_EmailSender_Model</class>
			</makingware_emailsender>
		</models>
	</global>
	<admin>
	<routers>
		<makingware_emailsender>
			<use>admin</use>
			<args>
				<module>Makingware_EmailSender</module>
				<frontName>makingware_emailsender</frontName>
			</args>
		</makingware_emailsender>
	</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<makingware_emailsender>
					<files>
						<default>Makingware_EmailSender.csv</default>
					</files>
				</makingware_emailsender>
			</modules>
		</translate>
	</adminhtml>
</config>