<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_ViewProductAlert>
			<version>0.1.0</version>
		</Makingware_ViewProductAlert>
	</modules>
	<global>
		<helpers>
			<viewproductalert>
				<class>Makingware_ViewProductAlert_Helper</class>
			</viewproductalert>
		</helpers>
		<blocks>
			<makingware_viewproductalert>
				<class>Makingware_ViewProductAlert_Block</class>
			</makingware_viewproductalert>
		</blocks>
		<models>
			<viewproductalert>
				<class>Makingware_ViewProductAlert_Model</class>
			</viewproductalert>
		</models>
	</global>
	<frontend>
		<routers>
			<viewproductalert>
				<use>standard</use>
				<args>
					<module>Makingware_ViewProductAlert</module>
					<frontName>viewproductalert</frontName>
				</args>
			</viewproductalert>
		</routers>
		<translate>
			<modules>
				<Makingware_ViewProductAlert>
					<files>
						<default>Makingware_ViewProductAlert.csv</default>
					</files>
				</Makingware_ViewProductAlert>
			</modules>
		</translate>
		<layout>
			<updates>
				<viewproductalert module="Makingware_ViewProductAlert">
					<file>makingware_viewproductalert.xml</file>
				</viewproductalert>
			</updates>
		</layout>
	</frontend>
</config> 