<?xml version="1.0"?>
<config>
	<modules>
		<Makingware_Tenpay>
			<version>0.9.0</version>
		</Makingware_Tenpay>
	</modules>
	<global>
		<models>
			<tenpay>
				<class>Makingware_Tenpay_Model</class>
				<resourceModel>tenpay_mysql4</resourceModel>
			</tenpay>
			<tenpay_mysql4>
				<class>Makingware_Tenpay_Model_Mysql4</class>
				<entities>
					<api_debug>
						<table>tenpay_api_debug</table>
					</api_debug>
				</entities>
			</tenpay_mysql4>
		</models>
		<helpers>
			<tenpay>
				<class>Makingware_Tenpay_Helper</class>
			</tenpay>
		</helpers>
		<resources>
			<tenpay_setup>
				<setup>
					<module>Makingware_Tenpay</module>
					<class>Makingware_Tenpay_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</tenpay_setup>
			<tenpay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</tenpay_write>
			<tenpay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</tenpay_read>
		</resources>
		<blocks>
			<tenpay>
				<class>Makingware_Tenpay_Block</class>
			</tenpay>
		</blocks>
		<payment>
			<tenpay>
				<languages>
					<FR>
						<code>FR</code>
						<name>Français</name>
					</FR>
					<EN>
						<code>EN</code>
						<name>Anglais</name>
					</EN>
					<ES>
						<code>ES</code>
						<name>Espagnol</name>
					</ES>
					<DE>
						<code>DE</code>
						<name>Allemand</name>
					</DE>
					<IT>
						<code>IT</code>
						<name>Italien</name>
					</IT>
					<NL>
						<code>NL</code>
						<name>Néerlandais</name>
					</NL>
				</languages>
			</tenpay>
		</payment>
		<helpers>
			<tenpay>
				<class>Makingware_Tenpay_Helper</class>
			</tenpay>
		</helpers>
	</global>
	<frontend>
		<secure_url>
			<tenpay>/tenpay/payment</tenpay>
		</secure_url>
		<routers>
			<tenpay>
				<use>standard</use>
				<args>
					<module>Makingware_Tenpay</module>
					<frontName>tenpay</frontName>
				</args>
			</tenpay>
		</routers>
		<translate>
			<modules>
				<Makingware_Tenpay>
					<files>
						<default>Makingware_Tenpay.csv</default>
					</files>
				</Makingware_Tenpay>
			</modules>
		</translate>
		<layout>
			<updates>
				<tenpay>
					<file>tenpay.xml</file>
				</tenpay>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Makingware_Tenpay>
					<files>
						<default>Makingware_Tenpay.csv</default>
					</files>
				</Makingware_Tenpay>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>
			<tenpay>
				<model>tenpay/payment</model>
				<title>财付通</title>
				<allowspecific>0</allowspecific>
				<transaction_type>O</transaction_type>
			</tenpay>
		</payment>
	</default>
</config>
